<a href="https://colab.research.google.com/github/PaletteofDesign/renaming-deleting-missing-data/blob/main/renaming%2C_deleting%2C_%26_missing_data_(practice).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [178]:
import pandas as pd

In [179]:
f_name = '/content/RailsToTrails_National_Count_Data_week.xlsx'
bike_df = pd.read_excel(f_name)#, sheet_name='Bike Counts (14 counters)')
bike_df.head()

  Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30  ...         NaN         NaN
1    Week 2 2020-01-06  ...         NaN         NaN
2    Week 3 2020-01-13  ...         NaN         NaN
3    Week 4 2020-01-20  ...         NaN         NaN
4    Week 5 2020-01-27  ...         NaN         NaN

[5 rows x 10 columns]

In [180]:
bike_df = bike_df.drop(columns=['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'])
bike_df.head()

  Timeframe    Week of  ...  Change 2019-2020  Unnamed: 6
0    Week 1 2020-12-30  ...          0.094627    1.094627
1    Week 2 2020-01-06  ...          0.179743  117.974253
2    Week 3 2020-01-13  ...          0.216112  121.611169
3    Week 4 2020-01-20  ...          0.105645  110.564504
4    Week 5 2020-01-27  ...          0.249166  124.916602

[5 rows x 7 columns]

In [181]:
bike_df = bike_df.rename(columns={'Unnamed: 6': 'percent_change'})
bike_df.head()

  Timeframe    Week of  ...  Change 2019-2020  percent_change
0    Week 1 2020-12-30  ...          0.094627        1.094627
1    Week 2 2020-01-06  ...          0.179743      117.974253
2    Week 3 2020-01-13  ...          0.216112      121.611169
3    Week 4 2020-01-20  ...          0.105645      110.564504
4    Week 5 2020-01-27  ...          0.249166      124.916602

[5 rows x 7 columns]

In [182]:
bike_df.isna().sum()

Timeframe                      0
Week of                        0
 2019 counts (31 counters)     0
 2020 counts (31 counters)     0
2021 Counts                   52
Change 2019-2020               0
percent_change                 0
dtype: int64

In [186]:
bike_df = bike_df.fillna(value=0)
bike_df.isna().sum()

Timeframe                     0
Week of                       0
counts_2019                   0
 2020 counts (31 counters)    0
2021 Counts                   0
Change 2019-2020              0
percent_change                0
dtype: int64

In [187]:
bike_df = bike_df.rename(columns={' 2019 counts (31 counters)': 'counts_2019'})
bike_df.head()

  Timeframe    Week of  ...  Change 2019-2020  percent_change
0    Week 1 2020-12-30  ...          0.094627        1.094627
1    Week 2 2020-01-06  ...          0.179743      117.974253
2    Week 3 2020-01-13  ...          0.216112      121.611169
3    Week 4 2020-01-20  ...          0.105645      110.564504
4    Week 5 2020-01-27  ...          0.249166      124.916602

[5 rows x 7 columns]