In [1]:
# Import libraries
import pandas as pd
import numpy as np

In [2]:
# Import data
bike_df = pd.read_excel('/home/spid3r404/Documents/data_science/data/RailsToTrails_National_Count_Data_week.xlsx')
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

In [3]:
# Removing unwanted columns
bike_df = bike_df.drop(columns=['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'])
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602

In [4]:
# Renaming Unnamed column to percent_change
bike_df = bike_df.rename(columns={'Unnamed: 6': 'percent_change'})
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602

In [5]:
# Gathering the sum of null values in each column
bike_df.isna().sum()

Timeframe                      0
Week of                        0
 2019 counts (31 counters)     0
 2020 counts (31 counters)     0
2021 Counts                   52
Change 2019-2020               0
percent_change                 0
dtype: int64

In [6]:
# Filling in null values with 0
bike_df = bike_df.fillna(value=0)
bike_df.isna().sum()

Timeframe                     0
Week of                       0
 2019 counts (31 counters)    0
 2020 counts (31 counters)    0
2021 Counts                   0
Change 2019-2020              0
percent_change                0
dtype: int64

In [8]:
# Renaming columns with more pythonic names
bike_df = bike_df.rename(columns={' 2019 counts (31 counters)': 'counts_2019',
                                  ' 2020 counts (31 counters)': 'counts_2020',
                                  'Week of': 'week_of', 'Timeframe': 'time_frame'})
bike_df.head()

,time_frame,week_of,counts_2019,counts_2020,2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,0.0,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,0.0,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,0.0,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,0.0,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,0.0,0.249166,124.916602

In [10]:
# Using a pivot table to demonstrate combining columns under a specific index obtaining the mean and median of the data
bike_df.pivot_table(values=['counts_2019', 'counts_2020'], index=bike_df['week_of'][0:5],
                    aggfunc=[np.mean, np.median], margins=True)

                           mean                     median
                    counts_2019    counts_2020 counts_2019 counts_2020
week_of
2020-01-06 00:00:00     82340.0   97140.000000     82340.0     97140.0
2020-01-13 00:00:00     62315.0   75782.000000     62315.0     75782.0
2020-01-20 00:00:00     75801.0   83809.000000     75801.0     83809.0
2020-01-27 00:00:00     75841.0   94738.000000     75841.0     94738.0
2020-12-30 00:00:00    167679.0  183546.000000    167679.0    183546.0
All                    136150.5  202107.442308    134574.0    209050.0

In [11]:
# Using groupby accomplishing similar results to the pivot table previous
bike_df.groupby(bike_df['time_frame'][0:5])[['counts_2019', 'counts_2020']].agg([np.mean, np.median])

           counts_2019           counts_2020
                  mean    median        mean    median
time_frame
Week 1        167679.0  167679.0    183546.0  183546.0
Week 2         82340.0   82340.0     97140.0   97140.0
Week 3         62315.0   62315.0     75782.0   75782.0
Week 4         75801.0   75801.0     83809.0   83809.0
Week 5         75841.0   75841.0     94738.0   94738.0