<a href="https://colab.research.google.com/github/PaletteofDesign/renaming-deleting-missing-data/blob/main/renaming%2C_deleting%2C_%26_missing_data_(practice).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [142]:
import pandas as pd

In [143]:
f_name = '/content/RailsToTrails_National_Count_Data_week.xlsx'
bike_df = pd.read_excel(f_name)#, sheet_name='Bike Counts (14 counters)')
bike_df.head()

  Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30  ...         NaN         NaN
1    Week 2 2020-01-06  ...         NaN         NaN
2    Week 3 2020-01-13  ...         NaN         NaN
3    Week 4 2020-01-20  ...         NaN         NaN
4    Week 5 2020-01-27  ...         NaN         NaN

[5 rows x 10 columns]

In [144]:
bike_df = bike_df.drop(columns=['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'])
bike_df.head()

  Timeframe    Week of  ...  Change 2019-2020  Unnamed: 6
0    Week 1 2020-12-30  ...          0.094627    1.094627
1    Week 2 2020-01-06  ...          0.179743  117.974253
2    Week 3 2020-01-13  ...          0.216112  121.611169
3    Week 4 2020-01-20  ...          0.105645  110.564504
4    Week 5 2020-01-27  ...          0.249166  124.916602

[5 rows x 7 columns]

In [145]:
bike_df = bike_df.rename(columns={'Unnamed: 6': 'percent_change'})
bike_df.head()

  Timeframe    Week of  ...  Change 2019-2020  percent_change
0    Week 1 2020-12-30  ...          0.094627        1.094627
1    Week 2 2020-01-06  ...          0.179743      117.974253
2    Week 3 2020-01-13  ...          0.216112      121.611169
3    Week 4 2020-01-20  ...          0.105645      110.564504
4    Week 5 2020-01-27  ...          0.249166      124.916602

[5 rows x 7 columns]

In [146]:
bike_df.isna()

    Timeframe  Week of  ...  Change 2019-2020  percent_change
0       False    False  ...             False           False
1       False    False  ...             False           False
2       False    False  ...             False           False
3       False    False  ...             False           False
4       False    False  ...             False           False
5       False    False  ...             False           False
6       False    False  ...             False           False
7       False    False  ...             False           False
8       False    False  ...             False           False
9       False    False  ...             False           False
10      False    False  ...             False           False
11      False    False  ...             False           False
12      False    False  ...             False           False
13      False    False  ...             False           False
14      False    False  ...             False           False
15      False    False  ...             False           False
16      False    False  ...             False           False
17      False    False  ...             False           False
18      False    False  ...             False           False
19      False    False  ...             False           False
20      False    False  ...             False           False
21      False    False  ...             False           False
22      False    False  ...             False           False
23      False    False  ...             False           False
24      False    False  ...             False           False
25      False    False  ...             False           False
26      False    False  ...             False           False
27      False    False  ...             False           False
28      False    False  ...             False           False
29      False    False  ...             False           False
30      False    False  ...             False           False
31      False    False  ...             False           False
32      False    False  ...             False           False
33      False    False  ...             False           False
34      False    False  ...             False           False
35      False    False  ...             False           False
36      False    False  ...             False           False
37      False    False  ...             False           False
38      False    False  ...             False           False
39      False    False  ...             False           False
40      False    False  ...             False           False
41      False    False  ...             False           False
42      False    False  ...             False           False
43      False    False  ...             False           False
44      False    False  ...             False           False
45      False    False  ...             False           False
46      False    False  ...             False           False
47      False    False  ...             False           False
48      False    False  ...             False           False
49      False    False  ...             False           False
50      False    False  ...             False           False
51      False    False  ...             False           False

[52 rows x 7 columns]

In [147]:
bike_df['2021 Counts'].isna().sum()

52

In [148]:
bike_df.isna().sum()

Timeframe                      0
Week of                        0
 2019 counts (31 counters)     0
 2020 counts (31 counters)     0
2021 Counts                   52
Change 2019-2020               0
percent_change                 0
dtype: int64

In [149]:
bike_df.loc[0:,'2021 Counts'].fillna(0)

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    0.0
16    0.0
17    0.0
18    0.0
19    0.0
20    0.0
21    0.0
22    0.0
23    0.0
24    0.0
25    0.0
26    0.0
27    0.0
28    0.0
29    0.0
30    0.0
31    0.0
32    0.0
33    0.0
34    0.0
35    0.0
36    0.0
37    0.0
38    0.0
39    0.0
40    0.0
41    0.0
42    0.0
43    0.0
44    0.0
45    0.0
46    0.0
47    0.0
48    0.0
49    0.0
50    0.0
51    0.0
Name: 2021 Counts, dtype: float64

In [150]:
bike_df = bike_df.rename(columns={'2019 counts (31 counters)': 'counts_2019'})
bike_df.head()

  Timeframe    Week of  ...  Change 2019-2020  percent_change
0    Week 1 2020-12-30  ...          0.094627        1.094627
1    Week 2 2020-01-06  ...          0.179743      117.974253
2    Week 3 2020-01-13  ...          0.216112      121.611169
3    Week 4 2020-01-20  ...          0.105645      110.564504
4    Week 5 2020-01-27  ...          0.249166      124.916602

[5 rows x 7 columns]